body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #4285f4;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

.trip-details {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.place {
    margin-bottom: 30px;
}


    .place img {
      width: 200px;
        height: 200px; /* Adjust this value to your desired fixed height */
        object-fit: cover; /* This property ensures the image covers the specified height without distorting its aspect ratio */
        border-radius: 8px;
        margin-bottom: 10px;
    }


